// Contenedor principal con fondo GIF
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la pantalla */
  background: url('b.jpg') no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
}

// Contenedor de la tabla
.table-container {
  width: 90%; /* Ocupa el 90% del ancho de la pantalla */
  max-width: 800px; /* Máximo de 800px de ancho */
  padding: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente para la tabla */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.table-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

// Estilo para el título
h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #10b981;
  padding-bottom: 8px;
  text-shadow: 0px 0px 5px #1e3a8a;
}

// Estilos para la tabla
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #fff;
}

th {
  background-color: #10b981;
}

td {
  background-color: rgba(0, 0, 0, 0.5);
}

// Responsive
@media (max-width: 768px) {
  .table-container {
    width: 100%; /* Hace que ocupe el 100% en pantallas pequeñas */
    max-width: 400px; /* Limita el tamaño máximo */
  }
}
