<ion-content>
  <div class="content-wrapper">
    <div class="table-container">
      <h2>Catálogo de Aves</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Común</th>
            <th>Nombre Científico</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Hábitat</th>
            <th>Continente</th>
            <th>Pais</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          <!-- Puedes seguir añadiendo filas según sea necesario -->
        </tbody>
      </table>
    </div>
  </div>
</ion-content>

