.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background: url('b.jpg') no-repeat center center;
  background-size: cover;
}

.table-container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid white;
}

th {
  background-color: #10b981;
}

td {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}

ion-button {
  margin: 5px;
}
